*{
    
}
.image-for-bg-clip{
    font-family: 'raleway' , sans-serif;
    font-weight: bolder;
    font-size: 8em;
    text-align: center;
    background-image: url(./galaxy.jpg);
    background-size: contain;
    -webkit-background-clip:text;
    color: transparent;
}
.GIF-for-bg-clip{
    font-family: 'raleway' , sans-serif;
    font-weight: bolder;
    font-size: 8em;
    text-align: center;
    background-image: url(./gif\ of\ moving\ many\ colors.gif);
    background-size: contain;
    -webkit-background-clip:text;
    color: transparent;
}