.image-for-bg-clip{
    font-family: 'raleway' , sans-serif;
    font-weight: bolder;
    font-size: 8em;
    text-align: center;
    background-image: url(./galaxy.jpg);
    background-size: contain;
    -webkit-background-clip:text;
    color: transparent;
}
.GIF-for-bg-clip{
    font-family: 'raleway' , sans-serif;
    font-weight: bolder;
    font-size: 8em;
    text-align: center;
    background-image: url(./gif\ of\ moving\ many\ colors.gif);
    background-size: contain;
    -webkit-background-clip:text;
    color: transparent;
}
.linear-gradient{
    margin-top: 80px;
    font-family: 'raleway' , sans-serif;
    font-weight: bolder;
    font-size: 8em;
    text-align: center;
    background:linear-gradient(blue, yellow, rgb(255, 5, 255));
    background-size: contain;
    -webkit-background-clip:text;
    color: transparent;
}
.fire {
    text-align: center;
    font-size: 160px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    background: url(http://www.japan-guide.com/thumb/XYZeXYZe2423_1680.jpg) no-repeat;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-weight: 730;
  }
  @import url('https://fonts.googleapis.com/css?family=Merriweather:300|Roboto:900');